<%
  medium = @review.medium
  title = @review.title
  writer = @review.writer
  director = @review.director
  artist = @review.artist
  actors = @review.actors
  venue = @review.venue
  country = @review.country
  running_time = @review.running_time
  label = @review.label
  # TODO: put this logic in the helper
  if @review.main_image.attached?
    img_main = @review.main_image
  else
    img_main = "no-image-fallback-main.png"
  end
  img_main_caption = @review.caption
  date_release = @review.date_release
  date_opening = @review.date_opening
  date_closing = @review.date_closing
  text = sanitize(@review.text)
%>

<% provide(:title, "Review") %>

<div class="review container">
  <p class="review__back-link"><%= link_to "Back to reviews", root_path %></p>

  <article class="review__content">
    <p class="review__medium"><%= medium(medium) %></p>

    <div class="review__heading">
      <figure class="review__image">
        <%= image_tag img_main, alt: "" %>

        <% if (img_main_caption.present?) %>
          <figcaption class="image__caption"><%= img_main_caption %></figcaption>
        <% end %>
      </figure>

      <ul class="review__details">
        <li class="review__title"><%= title %></li>
        <li class="review__extra"><%= extra(medium, writer, director, artist) %></li>

        <% if extra_2(medium, director, actors, label, date_release).present? %>
          <li class="review__extra-2"><%= extra_2(medium, director, actors, label, date_release) %></li>
        <% end %>

        <% if extra_3(medium, venue, country, date_release).present? %>
          <li class="review__extra-3"><%= extra_3(medium, venue, country, date_release) %></li>
        <% end %>

        <% if extra_4(medium, date_opening, date_closing, running_time).present? %>
          <li class="review__extra-4"><%= extra_4(medium, date_opening, date_closing, running_time) %></li>
        <% end %>
      </ul>
    </div>

    <div class="review__text"><%= text %></div>
  </article>
</div>

<%
# getReview() {
#   let html = ``;

#   html += `<p class="review__medium">${this.values.medium}</p>`;

#   html +=
#     `<div class="review__heading">
#       <figure class="review__image">
#         <img src="${this.values.img_main}" alt=""/>`;

#   if (this.values.img_main_caption) {
#     html += `<figcaption class="image__caption">${this.values.img_main_caption}</figcaption>`;
#   }

#   html +=
#       `</figure>
#       <ul class="review__details">`;

#   html += `<li class="review__title">${this.values.title}</li>`;

#   html += `<li class="review__extra">${this.values.extra}</li>`;

#   if (this.values.extra_2) {
#     html += `<li class="review__extra-2">${this.values.extra_2}</li>`
#   }

#   if (this.values.extra_3) {
#     html += `<li class="review__extra-3">${this.values.extra_3}</li>`
#   }

#   if (this.values.extra_4) {
#     html += `<li class="review__extra-4">${this.values.extra_4}</li>`
#   }

#   html +=
#       `</ul>
#     </div>`

#   html +=
#     `<div class="review__text">
#       ${this.data.text}
#     </div>`

#   return html;
# }
%>
